# Site settings
# These are used to personalize your new site.

# theme: jekyll-theme-so-simple
# remote_theme: mmistakes/so-simple-theme

skin: "/assets/css/skins/default.css"
locale: en-US
title: "My Awesome Site"
description: "It really is the best."
baseurl:
url:
logo:
date_format: "%B %-d, %Y"

google_fonts:
  - name: "Source Sans Pro"
    weights: "400,400i,700,700i"
  - name: "Lora"
    weights: "400,400i,700,700i"

# Liquid
liquid:
  error_mode: strict

# Build settings
permalink: /:categories/:title/
markdown: kramdown
feed:
  path: atom.xml

# Search
search_full_content: false

# Plugins allowed by GitHub Pages
plugins:
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-feed

# Front Matter Defaults
defaults:
  - scope:
      path: "_posts"
      type: posts
    values:
      layout: post
      share: true

# Site Author
author:
  name:
  picture:
  email:
  twitter:
  links:
    - title:
      url:
      icon:

# Footer Links
footer_links:
  - title: Feed
    url: atom.xml
    icon: fas fa-rss-square
